---
title: "Bio | Blancah Black"
description: "Learn about the life and music of Blancah Black, a talented indie rock artist based in Las Cruces, NM."
image: "OPTIONAL - If an image path is specified here, it will be used for that page's OG image. Useful for blog posts (implemented as standard with this kit)"
eleventyComputed:
  title: "{{ page.fileSlug | titleCase }} | {{ client.name }} | {{ client.address.city }}, {{ client.address.state }}"
  permalink: "/{{ page.fileSlug | slugify }}/"
---


{% extends "layouts/base.html" %}

{% block head %}
    
    <link rel="stylesheet" href="/assets/css/{{ page.fileSlug }}.css">

    <!-- Any page-specific tags that belong in the <head> -->


{% endblock %}

{% block body %}

    <!-- Page HTML goes here, without a <main> wrapper. The <main> tag is already presented in layouts/base.html -->

    <!-- ============================================ -->
    <!--                  Services                    -->
    <!-- ============================================ -->

    <section id="services-2427">
      <div class="cs-container">
            <div class="cs-content-bible">
                <p class="cs-text">
                    Blancah Black (AKA Hillary Fielding) was raised in Los Angeles, USA on Classical and Jazz ballads, as the phonograph had been around for some time and music was a big part of family life. 
                    She was also drawn to Opera such as La Bohème and the schmalz of Tony Perkins and Doris Day played innumerable times on Mama’s turntable.
                    Inspired by these masterpieces, she acquired a taste for the tragic at an early age. She took up the ukulele and treholipee at age 8 and wrote her first song, “Once There was a Horse and His Name was Clop.”
                    Blancah sat next to Papa, Composer Jerry Fielding (RIP) in his Hollywood studio. She was 15. He spun a few albums for her; the music of Bela Bartok and Karlheinz Stockhausen, and discussed with her the advent of 20th century modern composition. From that moment on a fire ignited and she began a love affair with the avant garde. The Written Word and Sound Produced have led her on a lifetime journey.
                </p>
                <p class="cs-text">
                    Suddenly one day there was punk and by this time she had been playing electric guitar for several years. Blancah Black woke up one morning in Santa Cruz, CA, and with Maryjean Shaffer started HoLY SIstERs of the GAga DaDA.
                    Blancah plays guitar, electronics, and voice; creates and performs songs. She was a founding member of one of the most unusual Women’s Punk/New wave bands in the 1980’s, The Holy Sisters of the GAGADADA, as well as a member of The Philosophers, BCO, Feathered Edge, The Eddie Gale Ensemble, Ovaryaction, Venus Envy, Female Noise, Dangerous Mother, ololo, blacklava, bleeding fields and Rivas & Black.
                    Several hundred songs later she’s still at it. The girl can’t help it.
                </p>
            </div>
        <h2 class="cs-title">
                Blancah Black (AKA Hillary Fielding)
            </h2>
        <div class="cs-wrapper">
          <picture class="cs-picture cs-picture1">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="../../assets/images/phone_tablet/webp/blancah_mask.webp" />
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="../../assets/images/desktop/webp/blancah_mask.webp" />
            <img loading="lazy" decoding="async" src="../../assets/images/desktop/webp/blancah_mask.webp" alt="blancah with mask" width="413" height="480" />
          </picture>
          <div class="cs-flex">
            <picture class="cs-picture cs-picture2">
              <!--Mobile Image-->
              <source media="(max-width: 600px)" srcset="../../assets/images/phone_tablet/webp/blancah_purple_wall.webp" />
              <!--Tablet and above Image-->
              <source media="(min-width: 601px)" srcset="../../assets/images/desktop/webp/blancah_purple_wall.webp" />
              <img loading="lazy" decoding="async" src="../../assets/images/desktop/webp/blancah_purple_wall.webp" alt="purple wall" width="522" height="280" />
            </picture>
          </div>
        </div>
      </div>
      <img class="cs-floater" src="https://nyc3.digitaloceanspaces.com/csimages2/Icons/tattoo.svg" alt="tattoo" aria-hidden="true" decoding="async" loading="lazy" width="152" height="513" />
    </section>

    <!-- ============================================ -->
    <!--                    steps                     -->
    <!-- ============================================ -->

    <section id="steps-2433">
        <div class="cs-container">
            <div class="cs-info">
                <h2 class="cs-title">Blancah Black has performed in well-known venues in the Bay Area, CA and Las Cruces, New Mexico. </h2>
                <p class="cs-text">
                    Notable Collaborators: Maryjean Shaffer, Heidi Ethridge, Big City Orchestra, Tom Djll, Brian Fergus, Todd Barker, Thea Farhadian, Sarah Bernstien, Eddie Gale, Drew Dobbs, Sayaka Yabuki, Amy X, Amanda Chaudhry, Lob Instagon, Craig Latta, Miguel Garcia, Chrissie Caulfield, Sonya Fe, Federico Almarez and Benjy Rivas.
                </p>
            </div>
            <!-- TO add more panels, scroll to instructions after the current ending panel -->
            <div class="cs-steps" role="tablist" aria-label="Service steps">
                <!-- panel 1 -->
                <input class="cs-step-toggle" id="service1-2433" type="radio" name="radio-set" checked="checked" aria-controls="panel1" aria-selected="true" aria-expanded="true" aria-labelledby="step1" role="tab">
                <div class="cs-step-panel" id="panel1-2433" aria-labelledby="step1" tabindex="0" role="tabpanel">
                    <label id="step1-2433" class="cs-tab" for="service1">Santa Cruz, California</label>
                    <div class="cs-item">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="../../assets/images/phone_tablet/webp/santa_cruz.webp">
                            <source media="(max-width: 1023px)" srcset="../../assets/images/phone_tablet/webp/santa_cruz.webp">
                            <source media="(min-width: 1024px)" srcset="../../assets/images/desktop/webp/santa_cruz.webp">
                            <img src="../../assets/images/desktop/webp/santa_cruz.webp" alt="" width="389" height="420" loading="lazy" decoding="async">
                        </picture>
                        <div class="cs-item-content">
                            <!--                   
                                These "Micro Stitches" are to be placed inside the .cs-content group of Side By Side Stitches.  Typically after the .cs-title or .cs-text. They are used to add more design flair to a Stitch as well as convey more information in a different way.
                            -->
                            <ul id="list-825" class="cs-ul">
                                <li class="cs-li">
                                    <span class="cs-number">1</span>
                                    UCSC
                                </li>
                                <li class="cs-li">
                                    <span class="cs-number">2</span>
                                    Cha Cha’s
                                </li>
                                <li class="cs-li">
                                    <span class="cs-number">3</span>
                                    Studio 80
                                </li>
                                <li class="cs-li">
                                    <span class="cs-number">4</span>
                                    The Sanctified Monkey
                                </li>
                                <li class="cs-li">
                                    <span class="cs-number">5</span>
                                    The Verteran’s Hall,
                                </li>
                                <li class="cs-li">
                                    <span class="cs-number">6</span>
                                    Cabrillo College Theatre
                                </li>
                                <li class="cs-li">
                                    <span class="cs-number">7</span>
                                    Macy’s Department Store
                                </li>
                            </ul>  
                        </div>
                    </div>
                </div>
                <!-- panel 2 -->
                <input class="cs-step-toggle" id="service2-2433" type="radio" name="radio-set"  aria-controls="panel2" aria-selected="false" aria-expanded="false" aria-labelledby="step2" role="tab">
                <div class="cs-step-panel" id="panel2-2433" aria-labelledby="step2" tabindex="-1" role="tabpanel">
                    <label id="step2-2433" class="cs-tab" for="service2">Bay Area, San Francisco</label>
                    <div class="cs-item">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="../../assets/images/phone_tablet/webp/bay_area.webp">
                            <source media="(max-width: 1023px)" srcset="../../assets/images/phone_tablet/webp/bay_area.webp">
                            <source media="(min-width: 1024px)" srcset="../../assets/images/desktop/webp/bay_area.webp">
                            <img src="../../assets/images/desktop/webp/bay_area.webp" alt="" width="389" height="420" loading="lazy" decoding="async">
                        </picture>
                        <div class="cs-item-content">
                            <!--                   
                                These "Micro Stitches" are to be placed inside the .cs-content group of Side By Side Stitches.  Typically after the .cs-title or .cs-text. They are used to add more design flair to a Stitch as well as convey more information in a different way.
                            -->
                            <ul id="list-825" class="cs-ul">
                                <li class="cs-li">
                                    <span class="cs-number">1</span>
                                    Project Artaud
                                </li>
                                <li class="cs-li">
                                    <span class="cs-number">2</span>
                                    Mabuhay Gardens
                                </li>
                                <li class="cs-li">
                                    <span class="cs-number">3</span>
                                    Club Foot
                                </li>
                                <li class="cs-li">
                                    <span class="cs-number">4</span>
                                    Sound of Music
                                </li>
                                <li class="cs-li">
                                    <span class="cs-number">5</span>
                                    The Women’s Building
                                </li>
                                <li class="cs-li">
                                    <span class="cs-number">6</span>
                                    The Marsh
                                </li>
                                <li class="cs-li">
                                    <span class="cs-number">7</span>
                                    The Lab
                                </li>
                                <li class="cs-li">
                                    <span class="cs-number">8</span>
                                    The Exploratorium
                                </li>
                                <li class="cs-li">
                                    <span class="cs-number">9</span>
                                    455
                                </li>
                                <li class="cs-li">
                                    <span class="cs-number">10</span>
                                    Olive’s
                                </li>
                                <li class="cs-li">
                                    <span class="cs-number">11</span>
                                    Brainwash
                                </li>
                                <li class="cs-li">
                                    <span class="cs-number">12</span>
                                    The Chameleon
                                </li>
                                <li class="cs-li">
                                    <span class="cs-number">13</span>
                                    Paradise Lounge
                                </li>
                                <li class="cs-li">
                                    <span class="cs-number">14</span>
                                    The Sound Factory
                                </li>
                                <li class="cs-li">
                                    <span class="cs-number">15</span>
                                    Koncepts Cultural Gallery
                                </li>
                                <li class="cs-li">
                                    <span class="cs-number">16</span>
                                    Roots Dance Studio
                                </li>
                                <li class="cs-li">
                                    <span class="cs-number">17</span>
                                    ATA
                                </li>
                                <li class="cs-li">
                                    <span class="cs-number">18</span>
                                    North Beach Public Library
                                </li>
                                <li class="cs-li">
                                    <span class="cs-number">19</span>
                                    SJSU
                                </li>
                                <li class="cs-li">
                                    <span class="cs-number">20</span>
                                    Mills College
                                </li>
                                <li class="cs-li">
                                    <span class="cs-number">21</span>
                                    The Berkeley Art Museum
                                </li>
                            </ul>  
                        </div>
                    </div>
                </div> 
                <!-- panel 3 -->
                <input class="cs-step-toggle" id="service3-2433" type="radio" name="radio-set" aria-controls="panel3" aria-selected="false" aria-expanded="false" aria-labelledby="step3" role="tab">
                <div class="cs-step-panel" id="panel3-2433" aria-labelledby="step3" tabindex="-1" role="tabpanel">
                    <label id="step3-2433" class="cs-tab" for="service3">Las Cruces, New Mexico</label>
                    <div class="cs-item">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="../../assets/images/phone_tablet/webp/las_cruces.webp">
                            <source media="(max-width: 1023px)" srcset="../../assets/images/phone_tablet/webp/las_cruces.webp">
                            <source media="(min-width: 1024px)" srcset="../../assets/images/desktop/webp/las_cruces.webp">
                            <img src="../../assets/images/desktop/webp/las_cruces.webp" alt="" width="389" height="420" loading="lazy" decoding="async">
                        </picture>
                        <div class="cs-item-content">
                            <!--                   
                                These "Micro Stitches" are to be placed inside the .cs-content group of Side By Side Stitches.  Typically after the .cs-title or .cs-text. They are used to add more design flair to a Stitch as well as convey more information in a different way.
                            -->
                            <ul id="list-825" class="cs-ul">
                                <li class="cs-li">
                                    <span class="cs-number">1</span>
                                    Valley Pizza
                                </li>
                                <li class="cs-li">
                                    <span class="cs-number">2</span>
                                    Amaro Winery
                                </li>
                                <li class="cs-li">
                                    <span class="cs-number">3</span>
                                    Downtown Blues Coffee
                                </li>
                                <li class="cs-li">
                                    <span class="cs-number">4</span>
                                    Grounded
                                </li>
                                <li class="cs-li">
                                    <span class="cs-number">5</span>
                                    The Doña Ana Arts Council Gallery
                                </li>
                            </ul>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img class="cs-background" loading="lazy" decoding="async" src="https://nyc3.digitaloceanspaces.com/csimages2/Images/Misc/tattoo-accordion-bg.jpg" alt="" width="1920" height="889" aria-hidden="true">
    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <div id="bleeding_fields"></div>
    <section id="RTsbs-253">
        <div class="cs-container">
            <!-- Left Image Section -->
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="../../assets/images/phone_tablet/webp/bleeding_fields.webp">
                <source media="(min-width: 601px)" srcset="../../assets/images/desktop/webp/bleeding_fields.webp">
                <img loading="lazy" decoding="async" src="../../assets/images/desktop/webp/bleeding_fields.webp" alt="bleeding fields" width="522" height="522" aria-hidden="true">
            </picture>
            <!-- Right Content Section-->
            <div class="cs-content">
                <h2 class="cs-title">Bleeding Fields</h2>
                <p class="cs-text">
                    While Chrissie discovered that with enough amplification and an inordinate number of effects pedals, a violin could make genuinely interesting noises without the bother of conservatoire training. Both women found their footing in the scrappier corners of live music. Blancah co-founding the Holy Sisters of the Gaga Dada after waking up one morning in Santa Cruz, and Chrissie earning her stripes touring, swagging alcohol off riders, and headlining obscure Leeds pubs with Catscans to audiences that sometimes even turned up. Today, Blancah continues to channel her love of the tragic and the electric, while Chrissie keeps herself busy playing violin with Helicopter Quartet and the Harrogate Philharmonic Orchestra, synthesizers with CSMA, and sessions for artists including Crippled Black Phoenix, Matt Stevens, and Se Delan.
                </p>
            </div>
        </div>
    </section>                   

    <!-- ============================================ -->
    <!--             Side By Side Reverse             -->
    <!-- ============================================ -->
    <div id="early_holy_sisters"></div>
    <section id="RTsbsr-253">
        <div class="cs-container">
            <!-- Left Image Section -->
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="../../assets/images/phone_tablet/webp/holy_sisters.webp">
                <source media="(min-width: 601px)" srcset="../../assets/images/desktop/webp/holy_sisters.webp">
                <img loading="lazy" decoding="async" src="../../assets/images/desktop/webp/holy_sisters.webp" alt="holy sisters of the gaga dada" width="522" height="522" aria-hidden="true">
            </picture>
            <!-- Right Content Section-->
            <div class="cs-content">
                <h2 class="cs-title">Holy Sisters of the GAGA DADA</h2>
                <p class="cs-text">
                    Blancah Black and Heidi Ho are two of the original members of The Holy Sisters of the GAGA DADA, an experimental punk band with heavy feminist/political vibes and a driving sound. The band came together in 1981 when Mary Genius answered an ad from Blancah and showed up at her house in a white pope’s robe and a Kamikaze headband. Heidi and Blancah had already been playing together in Fascion. The Holy Sisters soon added drummer extraordinaire Charles Bingham and they were off and running.
                </p>
                <p class="cs-text">
                    With the combined musical talents of Blancah, an experienced songwriter, vocalist, and electric guitarist; Mary Genius,  wordsmith, classical pianist and keyboardist; and Heidi,  bassist, guitarist and songwriter. The band crafted many kick-ass songs ranging from backwater blues, ska, experimental sonic wave, and punk. Within four months they were playing gigs in Santa Cruz CA.  In 1986 Mary Genius relocated the band to LA with new personnel. The LA Weekly awarded The Holy Sisters the best underground band in Los Angeles. They put out 2 albums on Bomp Records.
                </p>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--              Side By Side Triplet            -->
    <!-- ============================================ -->
    <div id="rivas_black"></div>
    <section id="RTsbst-253">
        <div class="cs-container">
            <!-- Left Image Section -->
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="../../assets/images/phone_tablet/webp/rivas_and_black_small.webp">
                <source media="(min-width: 601px)" srcset="../../assets/images/desktop/webp/rivas_and_black.webp">
                <img loading="lazy" decoding="async" src="../../assets/images/desktop/webp/rivas_and_black.webp" alt="rivas and black" width="522" height="522" aria-hidden="true">
            </picture>
            <!-- Right Content Section-->
            <div class="cs-content">
                <h2 class="cs-title">Rivas and Black</h2>
                <p class="cs-text">
                    Rivas & Black is a duet specializing in all forms of Americana. Benjy Rivas brings his influence of acoustic Bluegrass, Folk, Country, and Outlaw Texas Singer/Songwriter genres to the mix. He also has roots in Rock-A-Billy and Southern Rock. Blancah Black plays electric, acoustic and cigar box guitars. Together, they can move seamlessly from Rockabilly to Blues, Folk to Country, and Rock & Roll, and well as interpreting popular cover tunes.
                </p>
            </div>
        </div>
    </section>

    <!-- If you want the page to have a "CTA", remove the {# and #} below -->
    {# {% include 'sections/cta.html' %} #}

{% endblock %}




