---
title: "Discography | Blancah Black"
description: "Explore the discography of Blancah Black, featuring her latest releases."
image: "OPTIONAL - If an image path is specified here, it will be used for that page's OG image. Useful for blog posts (implemented as standard with this kit)"
eleventyComputed:
  title: "{{ page.fileSlug | titleCase }} | {{ client.name }} | {{ client.address.city }}, {{ client.address.state }}"
  permalink: "/{{ page.fileSlug | slugify }}/"
---


{% extends "layouts/base.html" %}

{% block head %}
    
    <link rel="stylesheet" href="/assets/css/{{ page.fileSlug }}.css">

    <!-- Any page-specific tags that belong in the <head> -->


{% endblock %}

{% block body %}

    <!-- Page HTML goes here, without a <main> wrapper. The <main> tag is already presented in layouts/base.html -->

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

    <section id="services-2426">
      <div class="cs-container">
        <div class="cs-content">
          <h2 class="cs-title">Music</h2>
        </div>
        <ul class="cs-card-group">
          <li class="cs-item">
            <a href="/loveHeatLove/" class="cs-link">
              <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="../../assets/images/phone_tablet/webp/love_heat_love_small.webp" />
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="../../assets/images/desktop/webp/love_heat_love.webp" />
                <img loading="lazy" decoding="async" src="../../assets/images/desktop/webp/love_heat_love.webp" alt="love heat love" width="373" height="420" />
              </picture>
              <h3 class="cs-h3">Love Heat Love</h3>
                        <div class="cs-border cs-border1" aria-hidden="true"></div>
                        <div class="cs-border cs-border2" aria-hidden="true"></div>
            </a>
          </li>
          <li class="cs-item">
            <a href="/eracism/" class="cs-link">
              <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="../../assets/images/phone_tablet/webp/eracism.webp" />
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="../../assets/images/desktop/webp/eracism.webp" />
                <img loading="lazy" decoding="async" src="../../assets/images/desktop/webp/eracism.webp" alt="eracism" width="373" height="420" />
              </picture>
              <h3 class="cs-h3">Eracism</h3>
                        <div class="cs-border cs-border1" aria-hidden="true"></div>
                        <div class="cs-border cs-border2" aria-hidden="true"></div>
            </a>
          </li>
          <li class="cs-item">
            <a href="/trouve/" class="cs-link">
              <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="../../assets/images/phone_tablet/webp/bleeding_fields.webp" />
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="../../assets/images/desktop/webp/bleeding_fields.webp" />
                <img loading="lazy" decoding="async" src="../../assets/images/desktop/webp/bleeding_fields.webp" alt="trouve" width="373" height="420" />
              </picture>
              <h3 class="cs-h3">Trouve&#769</h3>
                        <div class="cs-border cs-border1" aria-hidden="true"></div>
                        <div class="cs-border cs-border2" aria-hidden="true"></div>
            </a>
          </li>
                <li class="cs-item">
            <a href="/100guitarProject/" class="cs-link">
              <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="../../assets/images/phone_tablet/webp/guitar_project.webp" />
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="../../assets/images/desktop/webp/guitar_project.webp" />
                <img loading="lazy" decoding="async" src="../../assets/images/desktop/webp/guitar_project.webp" alt="100 dollar guitar project" width="373" height="420" />
              </picture>
              <h3 class="cs-h3">The $100 Guitar Project</h3>
                        <div class="cs-border cs-border1" aria-hidden="true"></div>
                        <div class="cs-border cs-border2" aria-hidden="true"></div>
            </a>
          </li>
                <li class="cs-item">
            <a href="/experimentalMusic/" class="cs-link">
              <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="../../assets/images/phone_tablet/webp/women_in_music_small.webp" />
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="../../assets/images/desktop/webp/women_in_music.webp" />
                <img loading="lazy" decoding="async" src="../../assets/images/desktop/webp/women_in_music.webp" alt="women in music" width="373" height="420" />
              </picture>
              <h3 class="cs-h3">A Documentary of Women in Experimental Music</h3>
                        <div class="cs-border cs-border1" aria-hidden="true"></div>
                        <div class="cs-border cs-border2" aria-hidden="true"></div>
            </a>
          </li>
                <li class="cs-item">
            <a href="/mysticLight/" class="cs-link">
              <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="../../assets/images/phone_tablet/webp/feathered+edge-1920w.webp" />
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="../../assets/images/desktop/webp/featherededge-1920w.webp" />
                <img loading="lazy" decoding="async" src="../../assets/images/desktop/webp/featherededge-1920w.webp" alt="mystic light" width="373" height="420" />
              </picture>
              <h3 class="cs-h3">Mystic Light</h3>
                        <div class="cs-border cs-border1" aria-hidden="true"></div>
                        <div class="cs-border cs-border2" aria-hidden="true"></div>
            </a>
          </li>
                <li class="cs-item">
            <a href="/wavelengthInfinity/" class="cs-link">
              <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="../../assets/images/phone_tablet/webp/wavelength_infinity.webp" />
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="../../assets/images/desktop/webp/wavelength_infinity.webp" />
                <img loading="lazy" decoding="async" src="../../assets/images/desktop/webp/wavelength_infinity.webp" alt="tattoo" width="373" height="420" />
              </picture>
              <h3 class="cs-h3">Wavelength Infinity: A Sun Ra Tribute</h3>
                        <div class="cs-border cs-border1" aria-hidden="true"></div>
                        <div class="cs-border cs-border2" aria-hidden="true"></div>
            </a>
          </li>
        </ul>
      </div>
    </section>

    <!-- If you want the page to have a "CTA", remove the {# and #} below -->
    {# {% include 'sections/cta.html' %} #}

{% endblock %}




